.build-hpsp {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
}

.build-hpsp .build-content {
  padding: 0.7rem 1.5rem;
}

.build-hpsp .build-header {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 0.7rem;
  background-color: #7289da;
}

.build-hpsp .build-header> :not(:first-child) {
  text-align: center;
}

.build-hpsp .build-input {
  grid-template-columns: 100px 100px 100px !important;
}