.character-misc {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
}

.character-misc .build-content {
  padding: 1rem 1.5rem;;
}

.character-misc .header {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  padding: 0.3rem 1.5rem;;
}

.character-misc .header> :not(:first-child) {
  text-align: center;
}

.character-misc .select {
  grid-template-columns: 100px 180px 180px !important;
}