.character-misc {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
}

.character-misc .build-content {
  padding: 15px 25px;
}

.character-misc .build-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 25px;
  background-color: #7289da;
}

.character-misc .build-header> :not(:first-child) {
  text-align: center;
}

.character-misc .select {
  grid-template-columns: 1fr 1fr 1fr !important;
}