.build-stats {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
}

.build-stats .header {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
}

.build-stats .header > * {
  padding: 5px 25px;
}

.build-stats .build-input {
  grid-template-columns: 100px 1fr 1fr !important;
}

.build-stats .build-content {
  padding: 15px 25px;
}

.build-stats .build-content .build-hp-sp {
  margin-top: 15px;
}