.build-diff {
  text-align: center;
  background-color: #2c2f33;
}

.build-diff .header {
  color: white;
  font-weight: bold;
  padding: 4px
}

.build-diff .header, .build-diff-body > div {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 0.5fr;
}

.build-diff-body > :first-child > * {
  padding-top: 5px
}

.build-diff-body > :last-child > * {
  padding-bottom: 5px
}

.positive-diff { background-color: #3ba55d !important;}
.negative-diff { background-color: #ed4245 !important;}