.select {
  display: grid;
  grid-template-columns: 100px 150px 150px;
  margin-bottom: 2px;
}

.select select {
  border: none;
  border-radius: 50px;
  background-color: #40444b;
  color: white;
  margin: 2.5px 5px;
  text-align-last: center;
  text-transform: capitalize;
}

.select select optgroup option {
  text-align-last: left;
}

.select select::-webkit-scrollbar {
  width: 10px;
}

.select select::-webkit-scrollbar-track {
  background: #40444b;
  border-radius: 10px;
}

.select select::-webkit-scrollbar-thumb {
  background: #2c2f33;
  border-radius: 10px;
}

.select select::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}
