.select {
  display: grid;
  grid-template-columns: 100px 150px 150px;
  margin-bottom: 2px;
  padding: 0 0.2rem;
}

.select:focus-within {
  backdrop-filter: brightness(0.8);
  border-radius: 0.5rem;
}

.select select {
  border: none;
  border-radius: 50px;
  background-color: #40444b;
  color: white;
  margin: 0.2rem 0.3rem;
  text-align-last: center;
  text-transform: capitalize;
  min-width: 14ch;
}

.select select:last-child {
  margin: 0.2rem 0 0.2rem 0.3rem;
}

.select select:focus {
  outline: 1px solid hsl(205 47% 54% / 1);
  color: hsl(205 47% 54% / 1);
}

.select select optgroup {
  font-size: 0.8rem;
  color: #bfbfbf;
}

.select select option {
  font-size: 0.8rem;
  color: white;
}

.select select optgroup option {
  text-align-last: left;
}

.select select::-webkit-scrollbar {
  width: 10px;
}

.select select::-webkit-scrollbar-track {
  background: #40444b;
  border-radius: 10px;
}

.select select::-webkit-scrollbar-thumb {
  background: #2c2f33;
  border-radius: 10px;
}

.select select::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}
