.select {
  display: grid;
  grid-template-columns: 100px 150px 150px;
  margin-bottom: 2px;
}

.select select {
  border: none;
  border-radius: 50px;
  background-color: #40444b;
  color: white;
  margin: 2.5px 5px;
}

.select select, .select select option > * {
  text-align: center;
  text-transform: capitalize;
}

