.build-storage-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: hsl(214, 7%, 19%);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  min-width: 500px;
}

.build-storage-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.build-storage-modal .save-area {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.build-storage-modal .save-area .build-name-input {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
}

.build-storage-modal .save-area .build-name-input input {
  text-align: center;
  border: none;
  padding: 0;
  color: white;
  background-color: #40444b;
  outline: 1px solid #40444b;
  width: 350px;
  font-weight: bold;
}

.build-storage-modal .save-area .build-name-input button {
  text-align: center;
  border: none;
  padding: 0.3rem 0.7rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background-color: deepskyblue;
  outline: 1px solid deepskyblue;
  cursor: pointer;
  font-weight: bold;
}

.build-storage-modal .save-area .build-name-input input:focus {
  outline: 1px solid deepskyblue;
  color: deepskyblue;
}

.build-storage-modal .save-area .build-name-input button:hover {
  background-color: white;
  outline-color: white;
  color: deepskyblue;
}

.build-storage-modal .stored-builds {
  margin: 0.7rem 0;
}

.build-storage-modal .stored-builds .builds {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  max-height: 220px;
  overflow-y: auto;
}

.build-storage-modal .stored-builds .builds::-webkit-scrollbar {
  width: 10px;
}

.build-storage-modal .stored-builds .builds::-webkit-scrollbar-track {
  background: #2c2f33;
  border-radius: 10px;
}

.build-storage-modal .stored-builds .builds::-webkit-scrollbar-thumb {
  background: #40444b;
  border-radius: 10px;
}

.build-storage-modal .stored-builds .builds::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}

.stored-build {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1rem 0;
}

.stored-build > div {
  display: flex;
  flex-direction: row;
}

.build-storage-modal .stored-builds .builds button {
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 0 0.7rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.7rem;
  display: flex;
  align-items: center;
}

.build-storage-modal .stored-builds .builds .load-button { background-color: deepskyblue; }

.build-storage-modal .stored-builds .builds .load-button:hover {
  background-color: white;
  color: deepskyblue;
}

.build-storage-modal .stored-builds .delete-button {
  background-color: crimson;
  justify-self: flex-end;
}