
.main {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  padding: 1rem;
}

.second-col {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.first-col > :not(:last-child), .second-col > :not(:last-child), .third-col > :not(:last-child) {
  margin-bottom: 1rem;
}

.second-col .third-col {
  padding: 0 1.4rem;
  display: flex;
  flex-direction: row;
}

.main > div > * {
  border-radius: 10px;
  border-style: solid;
  border-color: #40444b;
  border-width: 1px;
}

.main > div .header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
