
.main {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  padding: 25px;
}

.builds > * {
  margin-right: 25px;
}

.second-col {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.second-col > :not(:last-child) {
  margin-bottom: 25px;
}

.second-col .third-row {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.damages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  width: 550px;
  text-align: center;
}

.damages > div {
  display: flex;
  flex-direction: column;
}

.damages > div > :first-child {
  background-color: #7289da;
  color: white
}

.damages > div > * {
  background-color: #2c2f33;
  padding: 4px
}

.positive-diff { background-color: #5cb85c !important;}
.negative-diff { background-color: #d9534f !important;}