
.main {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  padding: 25px;
}

.builds > * {
  margin-right: 25px;
}

.second-col {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.first-col > :not(:last-child), .second-col > :not(:last-child) {
  margin-bottom: 25px;
}

.second-col .third-row {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

