.build-buffs {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.build-buffs .build-content {
  padding: 0.3rem 1rem;
  height: 33rem;
  overflow-y: auto;
}

.build-buffs .build-content .buff-options {
  padding-top: 10px;
  padding-bottom: 5px;
}

.build-buffs .inside-header {
  display: grid;
  grid-template-columns: 15rem 5rem 5rem;
  justify-content: unset;
  padding: 0.7rem 1rem;
}

.build-buffs .inside-header> :not(:first-child) {
  text-align: center;
}

.build-buffs .checkbox-container {
  grid-template-columns: 26px 13rem 5rem 5rem !important;
  border: 2px solid #40444b;
  border-radius: 10px;
  padding: 0px 0.2rem 0px 0.2rem;
  align-items: center;
}

.build-buffs .checkbox-container label {
  margin-bottom: 0.2rem;
}