.build-buffs {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
}

.build-buffs .build-content {
  padding: 15px 25px;
}

.build-buffs .header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  padding: 5px 25px;
}

.build-buffs .header> :not(:first-child) {
  text-align: center;
}

.build-buffs .checkbox-container {
  grid-template-columns: 200px 1fr 1fr !important;
  border: 2px solid #40444b;
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
}

.build-buffs .checkbox-container label {
  margin-bottom: 4px;
}