.build-input {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  margin-bottom: 2px;
}

.build-input .input {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.build-input input {
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 50px;
  color: white;
  background-color: #40444b;
  width: 140px;
}

.build-input input:focus {
  outline: 1px solid #3ba55d;
  color: #3ba55d;
}