.build-input {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  margin-bottom: 2px;
  padding: 0 0.2rem;
}

.build-input:focus-within {
  backdrop-filter: brightness(0.8);
  border-radius: 0.5rem;
}

.build-input .input {
  margin: 0 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.build-input .input:last-child {
  margin: 0 0 0 0.3rem;
}

.build-input input {
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 50px;
  color: white;
  background-color: #40444b;
  min-width: 14ch;
}

.build-input input:focus {
  outline: 1px solid hsl(205 47% 54% / 1);
  color: hsl(205 47% 54% / 1);
}