.build-input {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  margin-bottom: 2px;
}

.build-input > * {
  margin-right: 5px;
}

.build-input input {
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: white;
}

.build-input input:focus {
  outline: 1px solid #5bc0de;
  color: #5bc0de;
}