.build {
  background-color: hsl(214, 7%, 19%);
  color: white;
}

.build > .build-content {
  padding: 0.7rem 1rem;
}


.build > .header {
  display: grid;
  padding: 0 1rem;
}

.build > .build-content .build-input, .build > .header {
  grid-template-columns: 11rem 7rem 7rem;
  justify-content: unset;
}

.build > .header > * {
  padding: 0.3rem 0;
}

.build .header> :not(:first-child) {
  text-align: center;
}