.build {
  background-color: hsl(214, 7%, 19%);
  color: white;
}

.build > .build-content {
  padding: 15px 25px;
}

.build > .build-header {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  padding: 5px 25px;
  margin-bottom: 10px;
  background-color: #7289da;
}

.build-stats .build-header> :not(:first-child) {
  text-align: center;
}