.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: hsl(214, 7%, 19%);
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
}

.modal .form {
  display: flex;
  flex-direction: column;
}

.modal .form .selects select {
  border: none;
  border-radius: 50px;
  padding: 2px 0;
  background-color: #40444b;
  color: white;
  margin: 2.5px 5px;
  text-align: center;
}

.modal .form .selects > div {
  display: grid;
  grid-template-columns: 150px 200px;
  margin: 5px 0;
}

.modal .form .battle-stats {
  display: flex;
  flex-direction: column;
}

.modal .form .battle-stats textarea {
  margin-top: 5px;
  min-height: 150px;
  resize: none;
}

.modal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal .buttons button {
  border: none;
  outline: none;
  padding: 7px;
  margin: 2px;
  border-radius: 25px;
  background-color: #40444b;
  border: 2px solid #40444b;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

.modal .buttons button:hover {
  background-color: white;
  border: 2px solid white;
  color: #40444b;
  transition: 0.25s;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
