.build-debuffs {
  background-color: #2c2f33;
  color: white;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.build-debuffs .build-content {
  padding: 0px 25px 15px 25px;
  max-height: 426px;
  overflow-y: auto;
}

.build-debuffs .inside-header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  padding: 10px 25px 10px 25px;
}

.build-debuffs .inside-header> :not(:first-child) {
  text-align: center;
}

.build-debuffs .checkbox-container {
  grid-template-columns: 200px 1fr 1fr !important;
  border: 2px solid #40444b;
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
}

.build-debuffs .checkbox-container label {
  margin-bottom: 4px;
}